<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proto</title>
        <link rel="stylesheet" href="/pico.css"/>
        <style>
            /* https://grid.layoutit.com/ */
            .container {
                max-width: 100%;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;
                gap: 0em 1em;
                grid-auto-flow: row;
                grid-template-areas: "terrain parameter";
            }

            .terrain {
                grid-area: terrain;
            }

            .parameter {
                grid-area: parameter;
            }

            canvas {
                height: 100vh;
                width: 100%;
                display: block;
            }
        </style>
        <script type="importmap">
            {
            "imports": {
            "alpinejs": "/vendor/alpinejs/dist/module.esm.js",
            "@babylonjs/": "/vendor/@babylonjs/",
            "terrain": "/app/Terrain.js",
            "TransfertFunction": "/app/TransfertFunction.js",
            "terrain-editor": "/app/editor.js"
            }
            }
        </script>
    </head>
    <body>
        <div class="container" x-data="spa">
            <div class="terrain">
                <canvas x-ref="renderCanvas"></canvas>
            </div>
            <div class="parameter">
                <div>
                    <label>Tesselation</label>
                    <button x-on:click="decreaseTessel">-1</button>
                    <span x-text="tesselation"></span>
                    <button x-on:click="increaseTessel">+1</button>
                    <button x-on:click="regenerate">Generate</button>
                </div>
                <div class="grid">
                    <label>Max altitude</label>
                    <input type="range" x-model="pctAltitude" x-on:change="updateView" min="1" max="100"/>
                </div>
                <div class="grid">
                    <label>Slope threshold</label>
                    <input type="range" x-model="slopeThreshold" x-on:change="updateView" min="0.3" max="0.7" step="any"/>
                </div>
                <div class="grid">
                    <label>Top/Bottom separation</label>
                    <input type="range" x-model="heightSeparation" x-on:change="updateView" min="0.3" max="0.7" step="any"/>
                </div>
                <div class="grid">
                    <label>Top/Bottom mixing</label>
                    <input type="range" x-model="mixSeparation" x-on:change="updateView" min="2" max="10" step="1"/>
                </div>
                <div class="grid">
                    <label>Texture tiling</label>
                    <input type="range" x-model="textureTiling" min="1" max="40" x-on:change="changeTiling"/>
                </div>
                <div class="grid">
                    <div>
                        <label>Bottom</label>
                        <input type="file" accept="image/*" x-on:change="loadTexture($event, 'bottom')"/>
                        <img x-ref="bottomTexture" class="pure-img"/>
                    </div>
                    <div>
                        <label>Top</label>
                        <input type="file" accept="image/*" x-on:change="loadTexture($event, 'top')"/>
                        <img x-ref="topTexture" class="pure-img"/>
                    </div> 
                    <div>
                        <label>Slope</label>
                        <input type="file" accept="image/*" x-on:change="loadTexture($event, 'slope')"/>
                        <img x-ref="slopeTexture" class="pure-img"/>
                    </div>
                </div>
                <div class="grid" x-data="tfWidget(100)">
                    <div>
                        <select x-model="tfChoice" class="pure-input-1">        
                            <template x-for="(tf, name) in repository">
                                <option x-bind:value="name" x-text="name"></option>
                            </template>
                        </select>
                        <button x-on:click="applyTf">Apply</button>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1">
                        <g fill="none">
                        <rect width="1" height="1"stroke="black" stroke-width="2%"/>  
                        <path x-bind:d="getTfCurve(tfChoice)" stroke="red" stroke-width="1%"/>
                        </g>
                        </svg>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="grid" x-data="convolutionWidget">
                    <div>
                        <select x-model="convChoice" class="pure-input-1">        
                            <template x-for="(matrix, name) in repository">
                                <option x-bind:value="name" x-text="name"></option>
                            </template>
                        </select>
                        <button x-on:click="applyConvolution">Apply</button>
                    </div>
                    <div>
                        <table>
                            <template x-for="(row, y) in repository[convChoice]" :key="convChoice + y">
                                <tr>
                                <template x-for="(cell, x) in row":key="convChoice + y + x">
                                    <td x-text="cell"></td>
                                </template>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script type="module">
            import { Terrain } from 'terrain';
            import { TransfertFunction } from 'TransfertFunction';
            import * as TerrainEditor from 'terrain-editor';
            import Alpine from 'alpinejs';

            // outside of AlpineJS because the property will be proxyed, it will slow down and it bugs with private members
            let terrain = null

            Alpine.data('spa', () => ({
                    tesselation: 8,
                    pctAltitude: 50,
                    textureTiling: 20,
                    slopeThreshold: 0.5,
                    heightSeparation: 0.5,
                    mixSeparation: 7,

                    init() {
                        terrain = new Terrain(this.tesselation)
                        terrain.generate()
                        TerrainEditor.createEditor(this.$refs.renderCanvas, 2 * terrain.getSide())
                        this.updateView()
                    },

                    loadTexture(event, name) {
                        let reader = new FileReader()
                        reader.onload = () => {
                            this.$refs[name + 'Texture'].src = reader.result
                            TerrainEditor.updateTexture(name, reader)
                            TerrainEditor.updateTiling(this.textureTiling)
                        }
                        reader.readAsDataURL(event.target.files[0])
                    },

                    regenerate(event) {
                        terrain = new Terrain(this.tesselation)
                        terrain.generate()
                        this.updateView()
                    },

                    getHeightMax() {
                        return terrain.getSide() * this.pctAltitude / 100.0
                    },

                    changeTiling() {
                        TerrainEditor.updateTiling(this.textureTiling)
                    },

                    increaseTessel(event) {
                        this.tesselation++
                        terrain.increaseTesselation()
                        this.updateView()
                        TerrainEditor.moveAway(2)
                    },

                    decreaseTessel(event) {
                        this.tesselation--
                        terrain.decreaseTesselation()
                        this.updateView()
                        TerrainEditor.moveAway(0.5)
                    },

                    updateView() {
                        TerrainEditor.show(terrain, this.getHeightMax(), this.slopeThreshold, this.heightSeparation, this.mixSeparation)
                    }
                }))

            Alpine.data('tfWidget', (step) => ({
                    tfChoice: 'identity',
                    repository: {
                        identity: new TransfertFunction(x => x, -1, 1),
                        sigmoid1: new TransfertFunction(x => Math.tanh(x), -1, 1),
                        'square root': new TransfertFunction(x => x / Math.sqrt(1 + x ** 2), -1, 1),
                        sinus: new TransfertFunction(x => Math.sin(x), -Math.PI / 2, Math.PI / 2),
                        sigmoid2: new TransfertFunction(x => Math.tanh(x), -2, 2),
                        sigmoid3: new TransfertFunction(x => Math.tanh(x), -3, 3)
                    },

                    getTfCurve(choice) {
                        let path = null
                        let tf = this.repository[choice]

                        for (let x = 0; x < 1; x += 1 / step) {
                            let y = tf.getY(x)
                            if (path === null) {
                                path = 'M '
                            } else {
                                path += ' L '
                            }
                            path += x + ' ' + (1 - y)  // reminder : y-axis is inverted in SVG
                        }

                        return path
                    },

                    applyTf(event) {
                        terrain.applyTransferFunction(this.repository[this.tfChoice])
                        this.updateView()
                        this.tfChoice = 'identity'
                    }
                }))

            Alpine.data('convolutionWidget', (step) => ({
                    convChoice: 'identity',
                    repository: {
                        identity: [[1]],
                        smoothing: [[1, 1, 1], [1, 1, 1], [1, 1, 1]],
                        gaussian3: [[0.6, 1.5, 2.1, 1.5, 0.6], [1.5, 4.1, 5.7, 4.1, 1.5], [2.1, 5.7, 8, 5.7, 2.1], [1.5, 4.1, 5.7, 4.1, 1.5], [0.6, 1.5, 2.1, 1.5, 0.6]],
                        bumpy: [[1, 1, 1], [1, -7, 1], [1, 1, 1]]
                    },

                    applyConvolution(event) {
                        terrain.applyConvolution(this.repository[this.convChoice])
                        this.updateView()
                        this.convChoice = 'identity'
                    }
                }))

            Alpine.start()
        </script>
    </body>
</html>