<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proto</title>
        <link rel="stylesheet" href="/pico.css">
        <style>
            .container {  
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;
                gap: 0em 1em;
                grid-auto-flow: row;
                grid-template-areas: "terrain parameter";
            }

            .terrain { grid-area: terrain; }

            .parameter { grid-area: parameter; }

            canvas {
                height: 100vh;
                width: 100%;
                display: block;
            }
        </style>
        <script type="importmap">
            {
            "imports": {
            "alpinejs": "/node_modules/alpinejs/dist/module.esm.js",
            "@babylonjs/": "/node_modules/@babylonjs/"
            }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="terrain">
                <canvas></canvas>
            </div>
            <div class="parameter">
                <h4>Hello from Pico </h4>
                <form x-data="spa">
                    <input type="range" x-model="distance" min="0" max="100" step="any" value="50"/>
                    <button x-on:click.prevent="valid">yolo</button>
                </form>
            </div>
        </div>

        <script type="module">
            import Alpine from 'alpinejs';

            import { FreeCamera } from "@babylonjs/core/Cameras/freeCamera.js";
            import { Engine } from "@babylonjs/core/Engines/engine.js";
            import { HemisphericLight } from "@babylonjs/core/Lights/hemisphericLight.js";
            import { Vector3 } from "@babylonjs/core/Maths/math.vector.js";
            import { CreateGround } from "@babylonjs/core/Meshes/Builders/groundBuilder.js";
            import { CreateSphere } from "@babylonjs/core/Meshes/Builders/sphereBuilder.js";
            import { Scene } from "@babylonjs/core/scene.js";
            import { GridMaterial } from "@babylonjs/materials/grid/gridMaterial.js";

            // Get the canvas element from the DOM.
            const canvas = document.querySelector("canvas");

            // Associate a Babylon Engine to it.
            const engine = new Engine(canvas);

            // Create our first scene.
            var scene = new Scene(engine);

            // This creates and positions a free camera (non-mesh)
            var camera = new FreeCamera("camera1", new Vector3(0, 5, -10), scene);

            // This targets the camera to scene origin
            camera.setTarget(Vector3.Zero());

            // This attaches the camera to the canvas
            camera.attachControl(canvas, true);

            // This creates a light, aiming 0,1,0 - to the sky (non-mesh)
            var light = new HemisphericLight("light1", new Vector3(0, 1, 0), scene);

            // Default intensity is 1. Let's dim the light a small amount
            light.intensity = 0.7;

            // Create a grid material
            var material = new GridMaterial("grid", scene);

            // Our built-in 'sphere' shape.
            var sphere = CreateSphere("sphere1", {segments: 16, diameter: 2}, scene);

            // Move the sphere upward 1/2 its height
            sphere.position.y = 2;

            // Affect a material
            sphere.material = material;

            // Our built-in 'ground' shape.
            var ground = CreateGround("ground1", {width: 6, height: 6, subdivisions: 2}, scene);

            // Affect a material
            ground.material = material;

            // Render every frame
            engine.runRenderLoop(() => {
                scene.render();
            });

            Alpine.data('spa', () => ({
                    distance: 30,

                    valid(event) {
                        console.log(this.distance)
                    }
                }))

            Alpine.start()
        </script>
    </body>
</html>